<ion-content [fullscreen]="true">
  <!-- Titolo + crea-nuovo -->
  <ion-row class="ion-align-items-center">
    <p class="title">Lista dei Mostri</p>
    <ion-button class="crea-button" color="dark" (click)="creaNuovo()">Crea nuovo</ion-button>

    <!-- JSON -->
    <ion-item>
      <ion-input label="JSON" labelPlacement="floating" [(ngModel)]="jsonCreazione"></ion-input>
    </ion-item>
    <ion-button class="crea-button" color="light" (click)="creaNuovoDaJson()">Crea da json</ion-button>
  </ion-row>

  <!-- Lista dei personaggi -->
  <ion-card *ngFor="let personaggio of listaPersonaggi; let personaggioIndex = index">
    <!-- Info generali -->
    <ion-card-header>
      <ion-card-title>
        <p
          (click)="attivaPersonaggio(personaggioIndex)"
          class="ion-no-margin hover nome-pg"
          [ngClass]="personaggioIndex === selectedIndex ? 'nome-pg-selezionato' : ''"
        >
          {{personaggio.nome}}
        </p>
        <ion-button shape="round" color="success" (click)="add(personaggioIndex)"
          ><ion-icon slot="icon-only" name="add-outline"></ion-icon
        ></ion-button>
        <ion-button shape="round" color="medium" (click)="modify(personaggioIndex)"
          ><ion-icon slot="icon-only" name="create-outline" color="light"></ion-icon
        ></ion-button>
        <ion-button shape="round" color="danger" (click)="delete(personaggioIndex)"
          ><ion-icon slot="icon-only" name="trash-outline"></ion-icon
        ></ion-button>
      </ion-card-title>
      <ion-card-subtitle style="padding-left: 20px">{{personaggio.rageType}} alla rage</ion-card-subtitle>
    </ion-card-header>

    <!-- Info specifiche -->
    <ion-card-content *ngIf="personaggioIndex === selectedIndex">
      <div class="card-content">
        <ion-row class="ion-align-items-center">
          <!-- Hp -->
          <ion-col size="1">
            <ion-col><strong>PF: </strong>{{personaggio.hpMax}}</ion-col>
          </ion-col>
          <!-- Dur e rid -->
          <ion-col size="1">
            <ion-col><strong>RID: </strong>{{personaggio.ridMax}}</ion-col>
          </ion-col>
          <ion-col size="1">
            <ion-col><strong>DUR: </strong>{{personaggio.durMax}}</ion-col>
          </ion-col>
          <!-- dA e dM -->
          <ion-col size="1">
            <ion-col><strong>dA: </strong>{{personaggio.dA}}</ion-col>
          </ion-col>
          <ion-col size="1">
            <ion-col><strong>dM: </strong>{{personaggio.dM}}</ion-col>
          </ion-col>
          <!-- Crit arma -->
          <ion-col size="1">
            <ion-col><strong>crit: </strong>{{personaggio.critArma}}</ion-col>
          </ion-col>
          <!-- Gittata arma -->
          <ion-col size="1">
            <ion-col><strong>Gittata: </strong>{{personaggio.gittata ? personaggio.gittata : '1-1'}}</ion-col>
          </ion-col>
          <!-- Tiro per attacco base -->
          <ion-col size="1">
            <ion-col><strong>TxC: </strong>{{personaggio.txcAttaccoBase}}</ion-col>
          </ion-col>
          <!-- Rapidità base -->
          <ion-col size="1">
            <ion-col><strong>Rap: </strong>{{personaggio.rapBase}}</ion-col>
          </ion-col>
        </ion-row>

        <!-- Abilità -->
        <ion-row style="padding-top: 1em">
          <strong>Abilità:</strong>
        </ion-row>
        <ion-row>
          <ion-col>
            <p *ngIf="personaggio.abilita.length === 0">Nessuna abilità</p>
            <ul *ngFor="let abilita of personaggio.abilita; let abIndex = index">
              <div style="display: flex">
                <b>{{abIndex + 1}}. </b>
                <p>&nbsp;{{abilita.value}}</p>
              </div>
            </ul>
          </ion-col>
        </ion-row>

        <!-- Note -->
        <ion-row style="padding-top: 1em">
          <strong>Note:</strong>
        </ion-row>
        <ion-row>
          <ion-col>
            <p *ngIf="personaggio.note.length === 0">Nessuna nota</p>
            <ul
              *ngFor="let nota of personaggio.note; let notaIndex = index"
              (click)="nota.read = !nota.read"
              class="hover"
            >
              <div style="display: flex">
                <b>{{notaIndex + 1}}. </b>
                <p>&nbsp;{{nota.value}}</p>
              </div>
            </ul>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
