ion-content {
  --ion-background-color: lightblue;
}

.aggiungi-personaggio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

ion-card {
  background-color: white;
}

ion-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-card-content {
  border-top: solid 2px lightgray;
}

.card-content {
  padding-top: 1em;
}

.title {
  font-size: 32px;
  padding-left: 2rem;
}

.crea-button {
  height: 50px;
  padding-left: 2rem;
}

.nome-pg {
  width: 500px;
  border-radius: 15px;
  border: solid 2px lightblue;
  padding: 5px 20px;
}

.nome-pg-selezionato {
  background-color: lightblue;
  color: white;
}

.nome-pg:hover {
  background-color: lightblue;
  color: white;
}
