<ion-content [fullscreen]="true">
  <!-- Reset totale -->
  <ion-row class="aggiungi-personaggio">
    <ion-button shape="round" color="primary" (click)="reset()"
      ><ion-icon slot="icon-only" name="refresh-outline" color="light"></ion-icon
    ></ion-button>
  </ion-row>

  <!-- Messaggio per nessuno pg -->
  <p class="no-pg" *ngIf="combactService.listaPersonaggi.length === 0">
    Aggiungi un personaggio selezionandolo dalla sezione "Crea"
  </p>

  <!-- Lista dei personaggi -->
  <ion-card *ngFor="let personaggio of combactService.listaPersonaggi; let personaggioIndex = index">
    <!-- Info generali -->
    <ion-card-header (click)="attivaPersonaggio(personaggioIndex)">
      <ion-card-title [ngClass]="personaggio.hpAttuali > 0 ? '' : 'is-dead'"
        >{{personaggio.nome}} {{personaggio.index !== undefined ? '(' + personaggio.index + ') ' : ''}}-
        {{personaggio.rapBase}} %
        <ion-button shape="round" color="danger" (click)="delete(personaggioIndex)"
          ><ion-icon slot="icon-only" name="skull-outline"></ion-icon></ion-button
      ></ion-card-title>
      <ion-card-subtitle>{{personaggio.rageType}} alla rage</ion-card-subtitle>
    </ion-card-header>

    <!-- Info specifiche -->
    <ion-card-content *ngIf="personaggioIndex === selectedIndex">
      <div class="card-content">
        <ion-row class="ion-align-items-center">
          <!-- Hp e pf tmp -->
          <ion-col size="2">
            <ion-col><strong>PF:</strong> {{personaggio.hpAttuali}}/{{personaggio.hpMax}}</ion-col>
            <ion-col><strong>PF TMP:</strong>{{personaggio.pfTmpAttuali}}/{{personaggio.hpMax / 2}}</ion-col>
          </ion-col>
          <!-- Dur e rid -->
          <ion-col size="2">
            <ion-col><strong>RID:</strong> {{personaggio.rid}}/{{personaggio.ridMax}}</ion-col>
            <ion-col><strong>DUR:</strong>{{personaggio.dur}}/{{personaggio.durMax}}</ion-col>
          </ion-col>
          <!-- dA e dM -->
          <ion-col size="8">
            <ion-col><strong>dA:</strong> {{personaggio.dA}}</ion-col>
            <ion-col><strong>dM:</strong>{{personaggio.dM ? personaggio.dM : 'Ø'}}</ion-col>
            <ion-col><strong>crit:</strong>{{personaggio.critArma}}</ion-col>
            <ion-col><strong>txc:</strong>{{personaggio.txcAttaccoBase}}</ion-col>
            <ion-col><strong>gittata:</strong>{{personaggio.gittata ? personaggio.gittata : '1-1'}}</ion-col>
          </ion-col>
        </ion-row>

        <ion-row>
          <!-- Danni -->
          <ion-col size="2" style="padding-right: 1rem">
            <ion-item color="light">
              <ion-input labelPlacement="floating" label="Fisici" type="number" [(ngModel)]="danni"></ion-input>
            </ion-item>
          </ion-col>
          <ion-button color="dark" class="add-button" (click)="calcolaDanni(personaggioIndex)"
            ><ion-icon slot="icon-only" name="add-outline" color="light"></ion-icon
          ></ion-button>
          <!-- Danni Magici -->
          <ion-col size="2" style="padding-right: 1rem">
            <ion-item color="light">
              <ion-input labelPlacement="floating" label="Magici" type="number" [(ngModel)]="danniMagici"></ion-input>
            </ion-item>
          </ion-col>
          <ion-button color="dark" class="add-button" (click)="calcolaDanniMagici(personaggioIndex)"
            ><ion-icon slot="icon-only" name="add-outline" color="light"></ion-icon
          ></ion-button>
          <!-- Danni Puri -->
          <ion-col size="2" style="padding-right: 1rem">
            <ion-item color="light">
              <ion-input labelPlacement="floating" label="Puri" type="number" [(ngModel)]="danniPuri"></ion-input>
            </ion-item>
          </ion-col>
          <ion-button color="dark" class="add-button" (click)="calcolaDanniPuri(personaggioIndex)"
            ><ion-icon slot="icon-only" name="add-outline" color="light"></ion-icon
          ></ion-button>
          <!-- Cure -->
          <ion-col size="2" style="padding-right: 1rem">
            <ion-item color="light">
              <ion-input labelPlacement="floating" label="Cure" type="number" [(ngModel)]="cure"></ion-input>
            </ion-item>
          </ion-col>
          <ion-button color="dark" class="add-button" (click)="calcolaCure(personaggioIndex)"
            ><ion-icon slot="icon-only" name="add-outline" color="light"></ion-icon
          ></ion-button>
          <!-- Scudi -->
          <ion-col size="2" style="padding-right: 1rem">
            <ion-item color="light">
              <ion-input labelPlacement="floating" label="Scudi" type="number" [(ngModel)]="scudi"></ion-input>
            </ion-item>
          </ion-col>
          <ion-button color="dark" class="add-button" (click)="calcolaScudi(personaggioIndex)"
            ><ion-icon slot="icon-only" name="add-outline" color="light"></ion-icon
          ></ion-button>
        </ion-row>

        <!-- Abilità -->
        <ion-row style="padding-top: 1em">
          <strong>Abilità:</strong>
        </ion-row>
        <ion-row>
          <ion-col>
            <ul *ngFor="let abilita of personaggio.abilita" (click)="abilita.read = !abilita.read" class="hover">
              <p [ngStyle]="{'text-decoration': abilita.read ? 'line-through' : 'none'}">{{abilita.value}}</p>
            </ul>
          </ion-col>
        </ion-row>

        <!-- Note -->
        <ion-row style="padding-top: 1em">
          <strong>Note:</strong>
        </ion-row>
        <ion-row>
          <ion-col>
            <ul *ngFor="let note of personaggio.note" (click)="note.read = !note.read" class="hover">
              <p [ngStyle]="{'text-decoration': note.read ? 'line-through' : 'none'}">{{note.value}}</p>
            </ul>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
