ion-content {
  --ion-background-color: lightcoral;
}

.aggiungi-personaggio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

ion-card {
  background-color: white;
}

ion-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-card-content {
  border-top: solid 2px lightgray;
}

.card-content {
  padding-top: 1em;
}

.add-button {
  padding-top: 10px;
  height: 35px;
}

.no-pg {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 4rem 0;
  width: 100%;
  text-align: center;
}

.is-dead {
  text-decoration: line-through;
}
